/* :root {
  scroll-behavior: auto;
} */

.alert-box {
    background-color: skyblue;
    padding : 20px;
    color : white;
    border-radius: 5px;;
    display: none;
    /* display: block; */
}

.list-group {
    display: none;
}

.show {
    display: block;
}

.black-bg {
    width : 100%;v
    height : 100%;
    position : fixed;
    background : rgba(0,0,0,0.5);
    z-index : 5;
    padding: 30px;
    visibility: hidden;
    opacity: 0;
    transition: all 1s;
  }

  .white-bg {
    background: white;
    border-radius: 5px;
    padding: 30px;
  } 

  .show-modal {
    visibility: visible;
    opacity: 1;
  }

  .close-modal {
    display: none;
  }

  .main-bg {
    padding: 100px 20px;
    background: lightgray;
  }

  .dark {
    background: black;
    color: white;
  }

  .slide-container {
    width: 300vw;
    transition: all 1s;
  }
 

  .slide-box {
    width: 100vw;
    float: left;
    transform: translateX(0vw);
  }

  .slide-box img {
    width: 100%;
  }
  
  .navbar {
    position: fixed;
    width: 100%;
    z-index: 5;
  }

  .navbar-brand {
    font-size: 30px;  
    /* 애니메이션 전 시작스타일 */
    
  }

  .scrollStatus {
    background-color: black;
    /* width: 700px; */
    height: 20px;
  }


.form-hide {
  display: none;
}